.search-bar {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-bar .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-bar .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.service-card {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  text-align: center;
}
.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card img {
  width: 50%;
  border-radius: 10px;
}
.service-card h5 {
  margin-top: 10px;
  padding: 10px 0;
}
.service-card p {
  margin: 0;
  padding: 10px 0;
}

/* header */
.hero-section {
  background: #f0f0f0;
  padding: 50px 0;
}

.navbar {
  background-color: #ffffff; /* White background for navbar */
  /*border-bottom: 2px solid #007bff;*/ /* Blue border at the bottom */
}

.navbar-brand img {
  height: 45px; /* Adjusted logo size */
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav li a:hover {
  background-color: rgb(236, 176, 176);
  border-radius: 5px;
}

.nav-item {
  margin-right: 20px; /* Adds spacing between the nav items */
}

.nav-link {
  color: #000; /* Default link color */
}

.nav-link:hover {
  color: #000000 !important; /* Hover color for nav link */
}
